html{
    height: 100%;
}
body{
     height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    height: 50%;
    background-color: royalblue;
    position: absolute;
}

.box{
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: relative;
}